/*NO MODIFICAR*/

body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
}

ul {
    width: 450px;
    list-style:;
    padding: 0;
    margin: 0;
    border: 2px solid #4D7298;
}

li {
    background-color: #4D7298;
    border: 2px solid #77A6B6;
    border-radius: .5em;
    color: #fff;
    padding: .5em;
    margin: .5em;
}

/*DESDE ACA MODIFICAR*/
/*Los elementos deben estar en tres filas ocupando a su padre, ver tarea para referencia de como debe quedar*/

ul {
    width: 450px;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 2px solid #4D7298;
    display: flex; /* Activar Flexbox */
    flex-wrap: wrap; /* Permitir que los elementos se muevan a la siguiente linea */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinear verticalmente */
}

li {
    background-color: #4D7298;
    border: 3px solid #77A6B6;
    border-radius: .5em;
    color: #fff;
    padding: .5em;
    margin: .5em 1;
    text-align:left;
    flex: 1 1 calc(25% - 1em); /* Cada elemento ocupa 1/3 del ancho menos el margen */
    box-sizing:border-box;
}    

/* Cambiar el orden visual de los elementos */
li:nth-child(1) { order: 1; }  /* Nabo */
li:nth-child(2) { order: 2; }  /* Rucula */
li:nth-child(3) { order: 3; }  /* Te negro */

li:nth-child(4) { order: 6; }  /* Arroz Integral */
li:nth-child(5) { order: 5; }  /* Frutilla */
li:nth-child(6) { order: 6; }  /* Durazno */

li:nth-child(7) { order: 7; }  /* Coliflor */
li:nth-child(8) { order: 8; }  /* Azucar */
li:nth-child(9) { order: 9; }  /* Cafe */
li:nth-child(10) { order: 10; } /* Leche */